@model teeheeater.Models.Person
@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<form method="post" class="contactForm">

    @Html.LabelFor(m => m.FirstName)
    @Html.TextBoxFor(m => m.FirstName)    
    @Html.ValidationMessageFor(m => m.FirstName)


     <div>Achternaam: <input type="text" name="lastname" /></div>
    @Html.ValidationMessageFor(m => m.LastName)
    <div>Email: <input type="text" name="email" /></div>
    @Html.ValidationMessageFor(m => m.Email)
    
    <div>Telefoon: <input type="text" name="phone" /></div>
    <div>Adres: <input type="text" name="address" /></div>
    <div>Beschrijving: <input type="text" name="address" /></div>
    <input type="submit" value="verstuur" />
</form>

@if (Model != null) { 
<p>Hallo @Model.FirstName   @Model.LastName  </p>
}
  
