@model teeheeater.Models.Person
@{
    ViewData["Title"] = "contact";
}

@section script{
    <link rel="stylesheet" href="~/css/contact.css" />
}

<div class="contact_body">
    <div>
        <h2> Meld je aan voor onze nieuwsbrief! </h2>
        <form method="post" class="contactForm">

            <div class="form-group">
                @Html.LabelFor(m => m.Voornaam)
                @Html.TextBoxFor(m => m.Voornaam)
                @Html.ValidationMessageFor(m => m.Voornaam)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Achternaam)
                @Html.TextBoxFor(m => m.Achternaam)
                @Html.ValidationMessageFor(m => m.Achternaam)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Telefoon)
                @Html.TextBoxFor(m => m.Telefoon)
                @Html.ValidationMessageFor(m => m.Telefoon)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Adres)
                @Html.TextBoxFor(m => m.Adres)
                @Html.ValidationMessageFor(m => m.Adres)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Bericht)
                @Html.TextBoxFor(m => m.Bericht)
                @Html.ValidationMessageFor(m => m.Bericht)
            </div>

            <input type="submit" value="verstuur" />
        </form>

        @if (Model != null)
        {
            <p>Hallo @Model.Voornaam   @Model.Achternaam  </p>
        }
    </div>
    <div class="google maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d306.59039465835434!2d4.365862925192906!3d52.06656436165387!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5b7c0fe833883%3A0xc5631306575100ec!2sKerkbrug!5e0!3m2!1snl!2snl!4v1653046765863!5m2!1snl!2snl" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

