@model teeheeater.Models.Person
@{
    ViewData["Title"] = "contact";
}

@section script{
    <link rel="stylesheet" href="~/css/contact.css" />
}

<div class="contact_body">
    <h2> Meld je aan voor onze nieuwsbrief! </h2>
    <form method="post" class="contactForm">

        <div class="form-group">
            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName)
            @Html.ValidationMessageFor(m => m.FirstName)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName)
            @Html.ValidationMessageFor(m => m.LastName)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Phone)
            @Html.TextBoxFor(m => m.Phone)
            @Html.ValidationMessageFor(m => m.Phone)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Address)
            @Html.TextBoxFor(m => m.Address)
            @Html.ValidationMessageFor(m => m.Address)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Description)
            @Html.TextBoxFor(m => m.Description)
            @Html.ValidationMessageFor(m => m.Description)
        </div>

        <input type="submit" value="verstuur" />
    </form>

    @if (Model != null)
    {
        <p>Hallo @Model.FirstName   @Model.LastName  </p>
    }
</div>


